<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/node_modules/@awesome.me/webawesome-pro/dist/styles/webawesome.css">
    <link rel="stylesheet" href="/node_modules/@awesome.me/webawesome-pro/dist/styles/themes/default.css">
    {{#fontStyleUrls}}
    <link rel="stylesheet" href="{{.}}">
    {{/fontStyleUrls}}
    {{#calloutStyleUrls}}
    <link rel="stylesheet" href="{{.}}">
    {{/calloutStyleUrls}}
    <link rel="stylesheet" href="/presets/styles/variables.css">
    <script type="importmap">
    {
      "imports": {
        "mustache": "/node_modules/mustache/mustache.mjs",
        "immer": "/node_modules/immer/dist/immer.js",
        "@awesome.me/webawesome-pro/": "/node_modules/@awesome.me/webawesome-pro/",
        "@awesome.me/webawesome-pro": "/node_modules/@awesome.me/webawesome-pro/dist/webawesome.js",
        "@awesome.me/webawesome-pro/dist/components/page/page.js": "/node_modules/@awesome.me/webawesome-pro/dist/components/page/page.js",
        "lit": "/node_modules/lit/index.js",
        "lit/": "/node_modules/lit/",
        "lit-html": "/node_modules/lit-html/lit-html.js",
        "lit-html/": "/node_modules/lit-html/",
        "lit-element": "/node_modules/lit-element/index.js",
        "lit-element/": "/node_modules/lit-element/",
        "@lit/reactive-element": "/node_modules/@lit/reactive-element/reactive-element.js",
        "@lit/reactive-element/": "/node_modules/@lit/reactive-element/",
        "@floating-ui/dom": "/node_modules/@floating-ui/dom/dist/floating-ui.dom.mjs",
        "@floating-ui/core": "/node_modules/@floating-ui/core/dist/floating-ui.core.mjs",
        "@floating-ui/utils": "/node_modules/@floating-ui/utils/dist/floating-ui.utils.mjs",
        "@floating-ui/utils/dom": "/node_modules/@floating-ui/utils/dist/floating-ui.utils.dom.mjs",
        "@shoelace-style/localize": "/node_modules/@shoelace-style/localize/dist/index.js",
        "@shoelace-style/animations": "/node_modules/@shoelace-style/animations/dist/index.js",
        "@ctrl/tinycolor": "/node_modules/@ctrl/tinycolor/dist/module/public_api.js",
        "composed-offset-position": "/node_modules/composed-offset-position/dist/composed-offset-position.mjs",
        "nanoid": "/node_modules/nanoid/index.browser.js",
        "iconify-picker": "/node_modules/iconify-picker/lib/iconify-picker.js",
        "snapdom": "/node_modules/@zumer/snapdom/dist/snapdom.mjs"
      }
    }
    </script>
    <!-- Load webawesome components and icons inside the iframe -->
    <script type="module" src="/view/index.mjs"></script>
    <style>
        .icon-layer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        * {
            box-sizing: border-box;
        }
        body {
            font-family: var(--font-family);
            margin: 0;
            padding: 40px;
            display: grid;
            place-items: center;
            min-height: 100vh;
            min-width: 100vw;
            background: transparent;
        }
        #canvas {
            overflow: hidden;
            border: 1px solid #ccc;
            width: {{creation.width}}px;
            height: {{creation.height}}px;
            background-image: url({{{bgSrc}}});
            background-size: {{creation.backgroundScalePercent}}% auto;
            background-position: calc(50% + {{creation.backgroundX}}px) calc(50% + {{creation.backgroundY}}px);
            background-repeat: no-repeat;
            background-color: white;
            position: relative;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
        .canvas {
            position: relative;
            --canvas-padding-vertical: 20px;
            --canvas-padding-horizontal: 20px;
        }
        .canvas__slot {
            position: absolute;
            min-width: 25px;
            min-height: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .canvas__slot--top-left {
            top: var(--canvas-padding-vertical);
            left: var(--canvas-padding-horizontal);
            align-items: flex-start;
            justify-content: flex-start;
        }
        .canvas__slot--top-middle {
            top: var(--canvas-padding-vertical);
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
        }
        .canvas__slot--top-right {
            top: var(--canvas-padding-vertical);
            right: var(--canvas-padding-horizontal);
            text-align: right;
            align-items: flex-end;
            justify-content: flex-start;
        }
        .canvas__slot--center-left {
            top: 50%;
            left: var(--canvas-padding-horizontal);
            transform: translate(0, -50%);
            align-items: flex-start;
        }
        .canvas__slot--center-middle {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .canvas__slot--center-right {
            top: 50%;
            right: var(--canvas-padding-horizontal);
            transform: translate(0, -50%);
            text-align: right;
            align-items: flex-end;
        }
        .canvas__slot--bottom-left {
            bottom: var(--canvas-padding-vertical);
            left: var(--canvas-padding-horizontal);
            align-items: flex-start;
            justify-content: flex-end;
        }
        .canvas__slot--bottom-middle {
            bottom: var(--canvas-padding-vertical);
            left: 50%;
            transform: translate(-50%, 0);
            justify-content: flex-end;
            text-align: center;
        }
        .canvas__slot--bottom-right {
            bottom: var(--canvas-padding-vertical);
            right: var(--canvas-padding-horizontal);
            align-items: flex-end;
            text-align: right;
            justify-content: flex-end;
        }

        .font-layer {
        }
    </style>
    <script src="/view/canvas-drag-scroll.js"></script>
    <script src="/view/canvas-live-preview.js"></script>
</head>
<body>
    <div id="canvas" class="canvas">
        {{#slots}}
        <div class="canvas__slot canvas__slot--{{id}}">
            {{#layers}}
            {{#isFont}}
            <div class="font-layer {{styleId}}" data-index="{{index}}"
                 style="transform: translate({{offsetX}}px, {{offsetY}}px); z-index: {{zIndex}}; {{#width}}width: {{width}}px;{{/width}}">
                <span style="{{#size}}font-size: {{size}}px; {{/size}}">{{{html}}}</span>
            </div>
            {{/isFont}}
            {{#isIcon}}
            <div class="icon-layer" data-index="{{index}}"
                 style="transform: translate({{offsetX}}px, {{offsetY}}px); font-size: {{size}}px; color: {{color}}; z-index: {{zIndex}}; display: flex;">
                <wa-icon name="{{icon}}" library="tabler"></wa-icon>
            </div>
            {{/isIcon}}
            {{#isIconCallout}}
            <div class="icon-callout-layer {{styleId}}" data-index="{{index}}"
                 style="transform: translate({{offsetX}}px, {{offsetY}}px); z-index: {{zIndex}}; {{#width}}width: {{width}}px;{{/width}}">
                <div class="wa-flank wa-align-items-start">
                    <wa-icon class="icon-callout-layer__icon" slot="icon" name="{{icon}}" library="tabler" style="font-size: {{size}}px; color: {{color}};"></wa-icon>
                    <div class="icon-callout-layer__text" style="{{#size}}font-size: {{size}}px; {{/size}} color: {{color}};">{{{html}}}</div>
                </div>
            </div>
            {{/isIconCallout}}
            {{#isImage}}
            <div class="image-layer" data-index="{{index}}"
                 style="transform: translate({{offsetX}}px, {{offsetY}}px); z-index: {{zIndex}}; {{#width}}width: {{width}}px;{{/width}} {{#height}}height: {{height}}px;{{/height}}">
                <img src="{{src}}" style="{{#width}}width: {{width}}px;{{/width}} {{#height}}height: {{height}}px;{{/height}} object-fit: contain;" />
            </div>
            {{/isImage}}
            {{/layers}}
        </div>
        {{/slots}}
    </div>
</body>
</html>
