<div class="canvas__slot canvas__slot--{{slot}} font-layer {{styleId}}" 
     data-index="{{index}}"
     style="z-index: {{zIndex}}; {{#width}}width: {{width}}px;{{/width}} {{#height}}height: {{height}}px;{{/height}}">
    <div style="transform: translate({{offsetX}}px, {{offsetY}}px);">
        <span style="{{#size}}font-size: {{size}}px; {{/size}}">{{{html}}}</span>
    </div>
</div>
