<div class="canvas__slot canvas__slot--{{slot}} icon-layer" 
     data-index="{{index}}"
     style="z-index: {{zIndex}}; {{#width}}width: {{width}}px;{{/width}} {{#height}}height: {{height}}px;{{/height}}">
    <div style="transform: translate({{offsetX}}px, {{offsetY}}px); font-size: {{size}}px; color: {{color}}; display: flex;">
        <wa-icon name="{{icon}}" library="tabler"></wa-icon>
    </div>
</div>
