<wa-input type="text" name="title" value="{{creation.title}}"></wa-input>
<h3>Dimensions</h3>
<wa-select name="preset" label="Presets" value="{{currentPresetName}}">
    <wa-option value="">Custom</wa-option>
    {{#presets}}
    <wa-option value="{{name}}">{{name}} ({{width}}x{{height}})</wa-option>
    {{/presets}}
</wa-select>

<div class="wa-cluster" style="margin-top: 10px; gap: 10px;">
    <wa-input type="number" name="width" label="Width" value="{{creation.width}}" size="small" style="width: 80px;"></wa-input>
    <wa-input type="number" name="height" label="Height" value="{{creation.height}}" size="small" style="width: 80px;"></wa-input>
</div>
