<div class="editor-sidebar wa-stack">
    {{#creation}}
    <form id="editor-settings-form" class="wa-stack">
        {{> editor-sidebar-general}}
        
        <wa-divider></wa-divider>

        {{> editor-sidebar-background}}

        <wa-divider></wa-divider>

        {{> editor-sidebar-layers}}

        <wa-divider></wa-divider>

        <div class="wa-stack" style="margin-top: auto;">
            <wa-button id="back-to-creations" variant="neutral">
                <wa-icon name="arrow-left" library="tabler" slot="prefix"></wa-icon>
                Back to Library
            </wa-button>
        </div>
    </form>
    {{/creation}}
</div>
