{{{font-styles}}}
<wa-page>
    <header slot="header">
        {{{header}}}
    </header>
    <nav slot="navigation">
        {{{main-navigation}}}
    </nav>
    <div slot="aside">
        {{{sidebar}}}
    </div>
    <main>
        {{{content}}}
    </main>
</wa-page>