<wa-dialog id="gallery-modal" label="Choose Image" style="--width: 80vw;">
    <div id="gallery-component-container"></div>
    <wa-button slot="footer" variant="primary" id="close-gallery-modal">Close</wa-button>
</wa-dialog>
