<wa-card style="">
    <div slot="media" class="wa-frame" style="width: 300px; height: 300px;">
        <img src="{{src}}" alt="Uploaded Image" />
    </div>

    <wa-button variant="danger" size="small" data-id="{{id}}" class="delete-btn">
        <wa-icon name="trash" library="tabler" slot="start"></wa-icon>
        Delete
    </wa-button>
</wa-card>
