:root {
    --palette-color-bg: #ffffff;
    --palette-color-text: #1e1e1e;
    --palette-color-01: #502379;
    --palette-color-02: #E63E12;
    --palette-color-03: #1BBE6F;
    --palette-color-04: #82D0F4;
    --palette-color-05: #FDC220;

    --font-family: 'Ubuntu', sans-serif;
    --brand-color-bg: var(--palette-color-01);
    --brand-color-text: var(--palette-color-bg);
    --highlight-quiet-color-bg: var(--palette-color-01);
    --highlight-quiet-color-text: var(--palette-color-bg);
    --highlight-loud-color-bg: var(--palette-color-02);
    --highlight-loud-color-text: var(--palette-color-bg);
}